nav{
  .brand-logo{
    margin-left: 10px;
    .logo-title{
      font-size: 20px;
    }
  }

  .nav-image {
    width: 50px;
    margin-top: 8px;
  }

  .search-field {
    margin-right: 400px;
    width: 300px;
  }
}
