.user-name {
  font-size: 16px;
  float: left;
  color: #aaa;
}

.btn-follow {
  color: #bdbdbd;
}

.activity-info {
  margin-top: 20px;
}

p.p-info {
  color: #aaa;
  font-size: 20px;
}

.user-card-search {
  margin-left: 15%;
  width: 70%;
}

.user-description {
  float: left;
  color: grey;
  margin-top: 0;
  display: block;
}

.follow-title {
  color: #aaa;
}

.tabs .tab a{
  font-size: 12px;
}